#opciones
{
       width: 852px;
       float: left;
       height: auto;
       text-align: center;
}
#busqueda
{
       width: 852px;
       float: left;
       height: auto;
       text-align: center;
}
#tabla
{
       width: 852px;
       float: left;
       height: 35px;
}
